.header {
    width: 100%;
    position: fixed;
    background: #ffffffa8;
    color: #231f20;
    z-index: 100;
    min-height: 52px;
    backdrop-filter: blur(5px);
}

.header_wraper {
    width: 1180px;
    margin: 0 auto;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

}

.product_nav {
    display: flex;
    justify-content: center;
}

.nav {
    padding: 16px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #231f20;
}

.global_nav {
    display: flex;
}

.ButtonCartWrapper {
    padding: 12px 0 12px 12px;
}