/* styles/CircularText.module.css */
.circularTextContainer {
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .svgContainer {
    position: absolute;
    top: 0;
    left: 0;
  }
  