  
  .swiper {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .swiper_slide {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    background: #fff;
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media (max-width: 1180px) {
    .swiper_slide {
      flex-direction: column-reverse; /* Изменение flex-direction для разрешений меньше 1180px */
    }
  }

  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vertical_arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    transition-duration: 500ms;
    z-index: 10; /* Ensure the arrows appear above the swiper */
  }

  .vertical_arrow:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg) scale(1.1);
    transition-duration: 500ms;
    z-index: 10; /* Ensure the arrows appear above the swiper */
  }

  .horizontal_arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    z-index: 10; /* Ensure the arrows appear above the swiper */
  }

  .swiper_button_next {
    transform: rotate(180deg);
    right: var(--swiper-navigation-sides-offset, 30px) !important;
    color: #fff !important;
  }

  .swiper_button_prev {
    transform: rotate(180deg);
    left: var(--swiper-navigation-sides-offset, 30px) !important;
    color: #fff !important;
  }
  

  .text_container {
    padding: 70px;
    text-align: left;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 900;
  }

  @media (max-width: 1180px) {
    .text_container {
      padding: 0;
      font-size: 9vw;
    }
  }

  .arrows {
    transition-duration: 500ms;
  }



  /* HeroSlider.module.css */

/* Добавляем анимацию к .jumping-image классу */
.jumping-image {
  transition: transform 0.5s ease-in-out;
}

/* Овальная тень */
.imageContainer {
  position: relative;
  animation: jumpAnimation ease-in-out infinite 3s;
}

.imageShadow {
  position: absolute;
  bottom: -15px; /* Расположение тени относительно изображения */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 20%;
  background: rgba(0, 0, 0, 0.1); /* Цвет тени, можно настроить значение */
  border-radius: 50%;
  filter: blur(10px); /* Размытие тени, можно настроить значение */
  
}



@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
    
  }
  50% {
    transform: translateY(20px);
   
  }

}